.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 90%; /* Задаем ширину почти на весь экран */
    max-width: 600px; /* Максимальная ширина для большей отзывчивости */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .close {
        color: #aaa;
        float: right; /* Выравниваем кнопку закрытия вправо */
        font-size: 28px;
        font-weight: bold;
        cursor: pointer; /* Указатель для курсора */
    }
}

.form-group {
    margin-bottom: 20px; /* Увеличиваем отступы между группами */
}
label {
    display: block; /* Обеспечиваем блочное отображение для новых строк */
    margin-bottom: 5px; /* Добавляем отступ между меткой и полем ввода */
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Поля занимают 100% ширины родительского элемента */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Учитываем отступы и границы в общей ширине */
}

textarea {
    resize: vertical; /* Разрешаем вертикальное изменение размера */
    height: 200px; /* Начальная высота для текстового поля */
}

button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #0b0a0a;
    cursor: pointer;
    font-size: 15px; /* Размер шрифта */
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    padding: 9px 18px;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    transition: box-shadow .2s;
}

button:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.close:hover,
.close:focus {
    color: black; /* Изменяем цвет при наведении */
    text-decoration: none; /* Убираем подчеркивание */
    outline: none; /* Убираем обводку */
}

